---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		This is where the text will go
	</main>
</Layout>
<style>
</style>
