---
import Page from './Page.astro';
---

<Page>
    <div class="layout">
        <header>
            <img src="layout/header.png" />
            <div class="welcome-message">
                <div>Welcome to</div>
                <div>My Grandia Shrine</div>
            </div>
        </header>
        <slot />
    </div>
</Page>

<style>
  .layout {
    display: flex;
    flex-direction: column;
  }
  header {
    position: relative;
  }
  .welcome-message {
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
  }
  img {    
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
</style>